body {
    font-family: 'Merriweather', serif;
    font-family: 'Montserrat', sans-serif;

}

.fuente2 {
    font-family: 'Merriweather', serif;
    font-size: 40px;

}

.bg-lila {
    background-color: #86697B;
}

hr {
    width: 115px;
}

#sobre-mi h3{
    font-size: 25px;
    font-family: 'Merriweather', serif;
    line-height: 50px;
    letter-spacing: 0.5px;
}

#sobre-mi p{
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    line-height: 40px;
    letter-spacing: 0.16px;

}
.foto {
    background-image: url('../img/bg_hero.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 507px;
    padding-top: 60px;
    padding-bottom: 10px;
}

.foto h3{
    font-weight: 280;
    font-size: 40px;
}

.foto div {
    padding-top: 300px;
}
.foto hr{
    width: 220px;
}


.color-lila {
    color: #86697B;
}

h3 {
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    color: #373A3C;
}

h5 {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #373A3C;
}

h6 {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: #373A3C;
}

.texto-titulo {
    font-family: 'Merriweather', serif;
}

.texto-parrafo {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

footer h2  {
    font-weight: 400;
    font-family: 'Montserrat', sans-serif; 
}

footer a:link {
    color: #ffffff;
}

footer a:visited {
    color:#3B2833;
}

footer a:hover {
    color: #ffffff;
}
    