body {
    font-family: 'Merriweather', serif;
    font-family: 'Montserrat', sans-serif;

}

.fuente2 {
    font-family: 'Merriweather', serif;
    font-size: 40px;

}

.foto {
    background-image: url('../img/bg_heroprueba.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 507px;
    padding-bottom: 10px;
}

.foto h3{
    font-weight: 300;
    text-decoration: underline;
    padding-top: 70vh;
}

.color-lila {
    color: #86697B
}

h3 {
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    color: #373A3C;
}

h5 {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #373A3C;
}

h6 {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: #373A3C;
}

.texto-titulo {
    font-family: 'Merriweather', serif;
}

.texto-parrafo {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

footer h2  {
    font-weight: 400;
    font-family: 'Montserrat', sans-serif; 
}
    